@import '../helpers/_variables.css';
@import './_font.css';

* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

/* :global {
  #root {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}
* {
  user-select: none;
} */

body {
  font-family: 'Roboto', 'system-ui', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.8;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 0;
}

input {
  border: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:global {
  .sticky-table-x-wrapper {
    .sticky-table-container {
      width: 100%;
    }
  }

  .sticky-table-y-wrapper {
    top: 1px;
  }

  .sticky-table-cell {
    padding: 8px 12px;
    border-bottom: 1px solid #444;
  }
}
