.wrapper {
  flex: 1;
  max-width: 730px;
  margin: 0 auto 40px;

  @media screen and (max-width: 812px) {
    padding: 20px;
    max-width: 100vw;
  }

  figure {
    margin: 0;
    text-align: center;
  }

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
}

.top-image {
  text-align: center;
  margin: 0 auto 30px;
  width: 730px;
  height: 484px;

  @media screen and (max-width: 812px) {
    width: 280px;
    height: 185.6438356164px;
  }
}

.title {
  margin-top: 30px;
  font-size: 2rem;

  @media screen and (max-width: 812px) {
    font-size: 1.8rem;
    height: 140px;
  }
}

.content {
  font-size: 1.125rem;
  word-wrap: break-word;

  @media screen and (max-width: 812px) {
    img {
      max-width: 280px;
      max-height: 185px;
    }
  }
}
