.wrapper {
  flex: 1;
  max-width: 980px;
  padding-left: 250px;

  @media screen and (max-width: 812px) {
    padding: 20px;
    max-width: 100vw;
  }

  figcaption {
    text-align: center;
  }
}

.title {
  font-size: 30px;
}

.content {
  font-size: 18px;
  word-wrap: break-word;

  @media screen and (max-width: 812px) {
    img {
      max-width: 280px;
      max-height: 185px;
    }
  }
}
