.wrapper {
  display: flex;
  align-items: center;
  height: 85px;
  padding: 20px 0 20px 250px;
  border-bottom: solid 2px #636363;
}

.logo {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.category {
  display: inline-flex;
  margin-left: 50px;
  font-size: 20px;

  a {
    padding: 0 20px;
    color: #927272;

    &:hover {
      color: #555c9a;
    }
  }
}
